# ========== Python ==========
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.pkl

# ========== environment ==========
.venv/
venv/
env/
ENV/

# ========== Git ==========
.git/
.gitmodules
.gitignore

# ========== IDE ==========
.vscode/
.idea/
*.swp
*.swo

# ========== macOS ==========
.DS_Store
__MACOSX/
.AppleDouble

# ========== Windows ==========
Thumbs.db
ehthumbs.db
Desktop.ini

# ========== Данные (локальные) ==========
data/
chroma_data/
ollama_data/
pgdata/
*.db
*.sqlite
*.sqlite3

# ========== log ==========
logs/
*.log

# ========== test ==========
tests/
pytest_cache/
.coverage
htmlcov/

# ========== documentation ==========
docs/
*.md
!README.md

# ========== files env==========
.env
.env.*
!.env.example

# ========== Docker ==========
Dockerfile
docker-compose*.yml
.dockerignore

tmp/
temp/
*.tmp
*.bak

# ==========images ==========
*.png
*.jpg
*.jpeg
*.gif
*.svg