LLM_DEFAULT_PROVIDER=modal_glm

OPENAI_BASE_URL=https://api.openai.com/v1
OPENAI_API_KEY=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
OPENAI_MODEL=gpt-4.1-mini

MODAL_GLM_BASE_URL=https://api.us-west-2.modal.direct/v1
MODAL_GLM_API_KEY=modalresearch_x_GoObZTWyRe6IBNukTnz3qcd8R0fuEMqHrQYPPCPus
MODAL_GLM_MODEL=zai-org/GLM-5.1-FP8
MODAL_GLM_DISABLE_THINKING=true

LANGFUSE_SECRET_KEY="sk-lf-50a925fe-d789-4a87-94b9-133ea24201ee"
LANGFUSE_PUBLIC_KEY="pk-lf-2d6a9d46-2637-4cc2-8c43-1b98663bf5f1"
LANGFUSE_BASE_URL="https://cloud.langfuse.com"

REQUEST_TIMEOUT_SECONDS=20
LLM_REQUEST_TIMEOUT_SECONDS=90
AGENT_RUN_TIMEOUT_SECONDS=240
MAX_RETRIES=3
AGENT_MAX_STEPS=6

#curl -X POST "https://api.us-west-2.modal.direct/v1/chat/completions" \
 # -H "Content-Type: application/json" \
  #-H "Authorization: Bearer modalresearch_x_GoObZTWyRe6IBNukTnz3qcd8R0fuEMqHrQYPPCPus" \
  #-d '{"model": "zai-org/GLM-5.1-FP8", "messages": [{"role": "user", "content": "How many r-s are in strawberry?"}], "max_tokens": 500}'